<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youdisenextlevel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.OrderListActivity"></activity>
        <activity
            android:name=".Controller.ListProductAdminActivity"
            android:label="Liste des Produits"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Controller.OrderActivity" />
        <activity android:name=".Controller.CartActivity" />
        <activity android:name=".Controller.ProductDetailsActivity" />
        <activity android:name=".Controller.SettingActivity" />
        <activity android:name=".Controller.ProfileActivity" />
        <activity android:name=".Controller.AddProductActivity" />
        <activity android:name=".Controller.CategoryAdminActivity" />
        <activity
            android:name=".Controller.HomeActivity"
            android:label="Home"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Controller.RegisterActivity" />
        <activity android:name=".Controller.loginActivity" />
        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>